@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  
  --logo-color: rgb(0, 14, 27);
  background-color: black;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow: hidden;
}