body {
  --header-height: 8.5rem;
}

.header {
  position: absolute;
  top: 0;
  --padding: 0rem;
  --border-radius: 18px;

  width: calc(100% - 6rem - var(--padding)*2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;

  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: rgba(15, 14, 14, 0.35);
  border-radius: var(--border-radius);
  padding: var(--padding);

  display: inline-flex;
  justify-content: space-between;
} 

.header .nav {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.header .logo {
  display: inline-flex;
  align-items: center;
  background-color: var(--logo-color);
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  padding-right: 0.4rem;

  margin: 0.5rem;
  border-radius: calc(var(--border-radius) - 0.5rem);
}

.header .logo img {
  height: 3.5rem;
  margin-right: 0.4rem;
  
  margin-left: 0.2rem;
  border-radius: calc(var(--border-radius) - 0.5rem - 0.2rem);
}

.header .nav a.navigation {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;

  display: flex;
  align-items: center;
  padding: 0.4rem;
  transition: background-color 0.5s;
  border-radius: 0.3rem;
}

.header .nav a.navigation:hover {
  background-color: #292828;
  transition: background-color 0.5s;
}

.header .nav a.navigation.active {
  font-weight: 900;
}

.header .user {
  height: calc(100% - 0.8rem);
  display: inline-flex;
  align-items: center;
  
  background-color: var(--logo-color);

  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;

  margin: 0.4rem;
  border-radius: calc(var(--border-radius) - 0.5rem);

  transition: background-color 0.5s;
}

.header .user .text {
  margin-right: 0.5rem;
}

.header .user img {
  height: calc(3.5rem - 0.4rem);
  
  border-radius: calc(var(--border-radius) - 0.5rem - 0.2rem);
}

.header .user:hover {
  background-color: rgb(0, 28, 54);
  transition: background-color 0.5s;
}