.content .top {
  padding-top: var(--header-height);

  background: url('/static/img/bg2.jpg');
  background-position: center;
  background-size: cover;

  min-height: 10rem;

  
  border-bottom-left-radius : 2rem;
  border-bottom-right-radius : 2rem;
  
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.content .top h1 {
  color: white;

  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: black;

  width: 50rem;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 6rem;
  font-size: 8rem;

  padding-bottom: 3rem;
}

.content h2 {
  margin-left: 6rem;
  font-size: 3rem;

  margin-top: 1rem;
  margin-bottom: 0rem;
}

.content p {
  margin-left: 6rem;
  font-size: 1.5rem;
  font-weight: 500;

  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}