.content .top {
  padding-top: var(--header-height);

  background: url('/static/img/bg2.jpg');
  background-position: center;
  background-size: cover;

  border-bottom-left-radius : 2rem;
  border-bottom-right-radius : 2rem;
  
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.weekselector {
  width: 90%;
  height: 50px;
  margin-left: 5%;
  margin-top: 10px;

  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;

  display: inline-flex;
  gap: 10px;
}

.weekselector .week {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  height: 50px;
  white-space: nowrap;

  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5em;
}

.weekselector .week p {
  margin-top: calc((50px - 1.5em)/2);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.days {
  width: 90%;
  margin-left: 5%;
  --marginTop: 10px;
  margin-top: var(--marginTop);
  height: calc(100vh - (var(--header-height) + 50px + 10px + var(--marginTop)) - 25px - 20px);

  overflow-x: scroll;
  overflow-y: hidden;

  border-radius: 20px;
}

.days table {
  width: 200%;
  height: 100%;

  table-layout: fixed;
  border-collapse: collapse;

  --borderRadius: 10px;
}

table th {
  font-size: 1.6em;
  height: 1em;
  background-color: #555555;

  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

table tr p {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  padding-right: 10px;
  background-color: #222222;
  white-space: pre;
  font-size: 0.9em;

  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}


.newProgram {
  width: 90%;
  margin-left: 5%;
  --marginTop: 10px;
  margin-top: var(--marginTop);
  height: calc(100vh - (var(--header-height) + 50px + 10px + var(--marginTop)) - 100px - 25px - 20px);
  padding-bottom: 100px;
  background-color: #333333;

  border-radius: 15px;
}

.newProgram h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  width: 100%;
  text-align: center;
}

.newProgram div {
  margin: auto;
  width: 50%;
}