<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}GymBroAI{% endblock %}</title>

  <link rel="icon" type="image/png" href="/static/img/favicon.png"/>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/style-header.css">

  {% block styles %}{% endblock %}
</head>

<body>
  <div class="header">
    <div class="nav">
      <a href="/">
        <div class="logo">
          <img src="/static/img/logo.jpg" alt="">
          GymBroAI
        </div>
      </a>


      <!-- {{ active }} -->

      {% if user %}
        <a href="/plan" class="navigation {% if active == 'plan' %}active{% endif %}">Programmes</a>
      {% endif %}
    </div>
    
    <a href="/login">
      <div class="user">
        {% if not user %}
          <div class="text">
            Login
          </div>
          <img src="/static/img/user.jpg" alt="">
        {% else %}
          <img src="{{ user.avatar }}" alt="">
        {% endif %}
      </div>
    </a>
  </div>

  <div class="content">
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>