{% extends "base.html" %}

{% set active = "home" %}

{% block title %} Accueil - GymBroAI {% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/style-home.css">
{% endblock %}

{% block content %}

<div class="top">
  <h1>GymBroAI</h1>
</div>
<h2>Votre coach personnel dans la salle de sport!</h2>

{% endblock %}