{% extends "base.html" %}

{% set active = "register" %}

{% block title %} Register - GymBroAI {% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/style-login.css">
{% endblock %}

{% block content %}

<div class="session">
  <div class="left">
  </div>

  <div class="form-wrapper">
    
    <form method="POST" action="/login" class="log-in" autocomplete="off"> 
      <h4>Bienvenue sur <span>GymBroAI</span></h4>
      <div class="floating-label">
        <input placeholder="Nom d'utilisateur" type="text" name="username" id="username" autocomplete="off">
        <label for="username">Nom d'utilisateur:</label>
      </div>
      <div class="floating-label">
        <input placeholder="Mot de Passe" type="password" name="password" id="password" autocomplete="off">
        <label for="password">Mot de Passe:</label>
      </div>

      <button type="submit" onClick="">Login</button>
      <a href="/register" class="discrete">Register</a>
    </form>
  
  </div>

</div>

<script>
  document.getElementById('username').addEventListener('input', function (e) {
    e.target.value = e.target.value.replace(/ /g, "").toLowerCase().trim();
  });
</script>

{% endblock %}