{% extends "base.html" %}

{% set active = "plan" %}

{% block title %} Planing - GymBroAI {% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/style-plan.css">
{% endblock %}

{% block content %}
<div class="top"></div>

<div class="weekselector">
  {% if noprogram %}
    <a href="/plan/create" class="week">
      <p>Création</p>
    </a>
  {% endif %}

  {% for weekid in weeks %}
    <a href="/plan/w/{{ weekid }}" class="week">
      <p>Semaine #{{ weekid }}</p>
    </a>
  {% endfor %}

  {% if not noprogram %}
    <a href="/plan/nextweek" class="week">
      <p>Semaine Suivante</p>
    </a>
  {% endif %}
</div>
<!-- 
<div class="days">

</div> -->


<div class="days" {% if noprogram %} hidden {% endif %}>
  <table>
    <tr>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
      <th>Samedi</th>
      <th>Dimanche</th>
    </tr>
    <tr>
      {% for key, value in weekContent.items() %}
        <td>
          <p>{{value}}</p>
        </td>
      {% endfor %}
    </tr>
  </table>
</div>

<div class="newProgram" {% if not noprogram %} hidden {% endif %}>
  <form method="POST" action="/plan/create">
    <h1>Informations pour le Programme</h1>

    <div>
      Taille: <input type="number" name="height" required min="100" max="230"/>cm</br>
      Poids: <input type="number" name="weight" required min="30" max="200"/>Kg</br>
      Age: <input type="number" name="age" required min="10" max="100"/></br>
      </br>
  
  
      Objectif: <select name="goal" required>
        <option value="Bulk Up">Prise de masse musculaire</option>
        <option value="Cut (Cardio is important)">Perte de masse graisseuse</option>
        <option value="Go-Kart muscular reinforcement">Renforcement musculaire (Karting)</option>
        <option value="Soccer muscular reinforcement">Renforcement musculaire (Foot)</option>
        <option value="Basketball muscular reinforcement">Renforcement musculaire (Basket)</option>
        <option value="Handball muscular reinforcement">Renforcement musculaire (Handball)</option>
        <option value="Biking muscular reinforcement">Renforcement musculaire (Vélo)</option>
        <option value="Climbing muscular reinforcement">Renforcement musculaire (Escalade)</option>
        <option value="Golf muscular reinforcement">Renforcement musculaire (Golf)</option>
        <option value="Swimming muscular reinforcement">Renforcement musculaire (Natation)</option>
        <option value="Fencing muscular reinforcement">Renforcement musculaire (Escrime)</option>
      </select>
      </br>
      </br>
  
      Lundi: <input type="number" name="monday" value="0" required min="0" max="120"/>min</br>
      Mardi: <input type="number" name="tuesday" value="0" required min="0" max="120"/>min</br>
      Mercredi: <input type="number" name="wednesday" value="0" required min="0" max="120"/>min</br>
      Jeudi: <input type="number" name="thursday" value="0" required min="0" max="120"/>min</br>
      Vendredi: <input type="number" name="friday" value="0" required min="0" max="120"/>min</br>
      Samedi: <input type="number" name="saturday" value="0" required min="0" max="120"/>min</br>
      Dimanche: <input type="number" name="sunday" value="0" required min="0" max="120"/>min</br>
      
      <button type="submit">Valider</button>
  
      </br>
    </div>

  </form>
</div>

<script>
  if(document.querySelector("td").innerHTML.includes("Génération")) {
    setTimeout(() => {
      location.reload()
    }, 5000)
  }
</script>

{% endblock %}